/*
Table des matières : numérotation automatique.
Ex.

1.
  1.1.
  1.2.
2.
  2.1
  2.2
*/
.table_of_contents,
.table_of_contents ol {
  counter-reset: ct;

}

.table_of_contents li {
  list-style-type: none;
}

.table_of_contents li:before {
  content: counters(ct, ".") ". ";
  counter-increment: ct;
}
